<h1>Project check list</h1>

<div>
  <select name="" id="">
    <option value="">[project]</option>
  </select>
</div>

<div>
  <h2>[group]</h2>
  <div>
    <h2>New card</h2>
  </div>
  <div>
    <h3>[status][title]<button type="button">Options</button></h3>
    <p>[description]</p>
    <textarea name="" id="" cols="30" rows="10">[description]</textarea>
    <div>
      <button type="button">Edit</button>
      <button type="button">Save</button>
      <button type="button">To done</button>
    </div>
  </div>
</div>