.form_filter{
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}

.form_new_item {
    background-color: lightgreen;
    padding: 5px;
    display: block;
    width: auto;
}

.form_new_item [contenteditable]{
    display: inline-block;
    border-bottom: 1px solid gray;
    min-width: 200px;
}



.key-value {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.item{
    display: block;
    margin: 0;
    padding: 5px;
}
.project {}

.group {}

.status {
    padding: 3px;
    margin: 3px;
}

.title {
    
}

.description {
    color: gray;
}


.hierarchical_level_0 {
    margin-left: 0px;
}

.hierarchical_level_1 {
    margin-left: 20px;
}

.hierarchical_level_2 {
    margin-left: 40px;
}

.hierarchical_level_3 {
    margin-left: 60px;
}

.item_todo{
    background-color: lightblue;
}

.item_inprogress{
    background-color: lightyellow;
}

.item_totest{
    background-color: lightsalmon;
}

.item_completed{
    background-color: lightcoral;
}

.item_canceled{
    background-color: lightgray;
}

.item_erro{
    border: 1px solid red;
    background-color: gray;
}