.form_filter{
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}
.form_new_item {
    background-color: lightgreen;
    padding: 5px;
    display: block;
    width: auto;
}

.form_new_item [contenteditable]{
    display: inline-block;
    border-bottom: 1px solid gray;
    min-width: 200px;
}



.key-value {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.project {}

.group {}

.status {
    padding: 3px;
    margin: 3px;
}

.title {
    color: blue;
}

.description {

    margin-bottom: 10px;
    color: gray;
}


.hierarchical_level_0 {
    margin-left: 0px;
}

.hierarchical_level_1 {
    margin-left: 20px;
}

.hierarchical_level_2 {
    margin-left: 40px;
}

.hierarchical_level_3 {
    margin-left: 60px;
}