<h1>Checklist</h1>
<div class="options">
  <button *ngIf="!form_new_item_visible" (click)="set_new_item_visible()">Novo item</button>
</div>

<div *ngIf="form_new_item_visible" class="form_new_item">

  <div class="hierarchical_level_0">
    <Label>Projeto: </Label>
    <span contenteditable class="project"
      (blur)="novo_card.project=get_element_text_by_envet($event)">{{novo_card.project}}</span>
  </div>

  <div class="hierarchical_level_1">
    <Label>Group: </Label>
    <span class="group" contenteditable
      (blur)="novo_card.group=get_element_text_by_envet($event)">{{novo_card.group}}</span>
  </div>

  <div class="hierarchical_level_2">
    <select name="" id="" class="status" (blur)="novo_card.status=get_element_value_by_envet($event)">
      <option *ngFor="let opt of status_options" [value]="opt.key" [selected]="false">
        {{opt.value}}
      </option>

    </select>
    <span class="title">
      <label for="">Title: </label>
      <span contenteditable (blur)="novo_card.title=get_element_text_by_envet($event)">{{novo_card.title}}</span>
    </span>
  </div>

  <div class="hierarchical_level_3">
    <label for="">Description: </label>
    <div class="description" contenteditable (blur)="novo_card.description=get_element_text_by_envet($event)">
      {{novo_card.description}}</div>
  </div>

  <button (click)="form_new_item_save()">Salvar</button>
</div>

<div *ngFor="let item of itens;">
  <div class="hierarchical_level_0 project" *ngIf="item.project_visible">{{item.project}}</div>

  <div class="hierarchical_level_1 group" *ngIf="item.group_visible">{{item.group}}</div>

  <div class="hierarchical_level_2">
    <select name="" id="" class="status">
      <option *ngFor="let opt of status_options" [value]="opt.key" [selected]="item.status==opt.key">
        {{opt.value}}
      </option>
    </select>

    <span contenteditable class="title" (blur)="set_title_by_event_and_save($event, item)">
      {{item.title}}
    </span>
  </div>
  <div class="hierarchical_level_3 description" contenteditable (blur)="update_item(item)">{{item.description}}</div>
</div>